@charset "utf-8";
/* CSS Document */

/* background */
	div#background {
		visibility: visible;
		position: absolute;
		z-index: 1;
		left: 0px;;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	table#container {
		background-color: #FFFFFF;
		width: 100%;
		height: 100%;
	}
	table#container .container {
		vertical-align: top;
		width: 100%;
	}

/* topo */
	table#topo {
		width: 100%;
	}
	table#topo .logotipo {
		text-align: left;
		vertical-align: top;
		width: 382px;
	}
	table#topo .data {
		text-align: center;
		vertical-align: middle;
		width: 100%;
	}

/* corpo */
	table#corpo {
		width: 100%;
	}
	table#corpo .menu {
		text-align: left;
		vertical-align: top;
		width: 198px;
	}
	table#corpo .titulo {
		text-align: left;
		vertical-align: top;
		width: 100%;
		height: 52px;
		padding-top: 25px;
		padding-left: 35px;
	}
	table#corpo .corpo {
		text-align: left;
		vertical-align: top;
		width: 100%;
		padding: 20px;
		padding-left: 60px;
	}
	table#corpo .processamento {
		text-align: center;
		vertical-align: middle;
		width: 100%;
		height: 25px;
	}

/* rodape */
	table#rodape {
		width: 100%;
	}
	table#rodape .parceiros {
		text-align: left;
		padding-left: 5px;
		width: 100%;
	}
    
	table#rodape .parceiros img {
		vertical-align: middle;
        padding: 10px;
	}
	table#rodape .fundo {
		text-align: right;
		vertical-align: bottom;
		width: 291px;
	}
	
	/* rodape */
	table#cracha {
		left: 50%;
		margin: 0 auto;
		margin-left: -141px;
		width: 283px;
		height: 397px;
		border: solid #000000;
		border-width: 1;
	}
	table#cracha .nome {
		text-align: center;
		padding-left: 5px;
		font-size:18px;
		font-weight:bold;
	}